html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header-nav_container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.88);
    color: rgb(187, 186, 186);
    width: auto;
    height: 60px;
}


.crunchyroll__button {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 3px;
}

.header-nav_group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    height: 60px;
}

.header-nav_group :hover {
    background-color: black;
    color: white;
}

a.header-nav_link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.main_img {
    background-color: black;
    background-image: url("dsBackground.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.background_img {
    position: absolute;
}
